@page "/"
@using Cqrs.Application
@using Cqrs.Common.Application
@inject ICommandQueryDispatcher Dispatcher

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<div>@value</div>

<button @onclick="RunCommand">Generate random numbers stream</button>

<button @onclick="RunQuery">Generate single random number</button>

@code {
    private int value;

    private async void RunCommand()
    {
        var command = new GenerateRandomIntegersCommand(10, "");
        await foreach (var @event in this.Dispatcher.HandleAsync(command))
        {
            this.value = @event.Value;
            base.StateHasChanged();
        }
    }

    private void RunQuery()
    {
        var query = new RandomIntegerQuery(-50, 50, "");
        var result = this.Dispatcher.Handle(query);
        this.value = result.Value;
    }
}
